.background-image {
  background-image: url("https://colorlib.com/etc/lf/Login_v4/images/bg-01.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-position: center;
  background-repeat: no-repeat; */
}
