@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

.login-body {
  box-shadow: 0px 10px 15px 5px #00000040;
  border-radius: 10px;
  height: calc(100% - 100px);
  width: 600px;
  padding: 60px 55px;
  margin: 0 auto;
  background-color: white;
  color: blueviolet;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  position: relative;
  overflow: hidden;
}

.login-header {
  color: black;
  font-weight: 700;
  padding-bottom: 50px;
  text-align: center;
}

.login-user-label {
  display: block;
  color: black;
  position: absolute;
  top: 5px;
  font-size: 14px;
}

.login-pass-label {
  display: block;
  color: black;
  position: relative;
  top: 35px;
  font-size: 14px;
}

.login-user-input {
  width: 500px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  padding-left: 30px;
  padding-top: 15px;
  padding-bottom: 0px;
  line-height: 40px;
  font-size: 20px;
  background: none;
}

.login-pass-input {
  width: 500px;
  border: none;
  outline: none;
  border-bottom: 1px solid grey;
  font-size: 20px;
}

.login-username {
  position: relative;
}

.user-icon {
  position: relative;
  top: 55px;
}

.password-icon {
  position: relative;
  top: 55px;
}

.login-forgot-password {
  display: inline-block;
  position: relative;
  margin-top: 5px;
  font-size: 14px;
  margin-bottom: 30px;
  color: #666;
  cursor: pointer;
  left: 375px;
}

.login-forgot-password:hover {
  font-weight: bold;
}

.login-button {
  width: 100%;
  height: 50px;
  border-radius: 50px;
  transition: background 0.5s ease;
  background: linear-gradient(90deg, #f704fe 0%, #07d6df 50%, #f704fe 100%);
  background-size: 200% 100%;
  background-position: 100% 50%;
  line-height: 45px;
  text-align: center;
  color: #fff;
  cursor: pointer;
}

.login-button:hover {
  background-position: 0% 50%;
}

.singup-using-span {
  display: block;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 30px;
  font-size: 15px;
  color: #666;
}

.login-logos {
  height: 80px;
  width: 100%;
  text-align: center;
  font-size: 40px;
}

.facebook {
  margin: 10px;
  color: #3b5998;
}

.twitter {
  margin: 10px;
  color: #1da1f2;
}

.google {
  margin: 10px;
  color: #ea4335;
}

.logo:hover {
  color: #000;
  cursor: pointer;
}
.singup-another {
  text-align: center;
  padding-top: 100px;
  color: #666;
  font-size: 14px;
}

.singup-last {
  text-align: center;
  display: inline-block;
  font-size: 15px;
  padding-top: 15px;
  color: #000;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  left: 50%;
  margin: 20px 0;
  right: 50%;
  transform: translate(-50%, -50%);
}

.singup-last:hover {
  font-weight: bold;
}

.login-content {
  width: calc(100% - 4px);
  height: calc(100% - 4px);
  left: 2px;
  top: 2px;
  border-radius: 8px;
  position: absolute;
  padding: 60px 55px;
  margin: 0 auto;
  background-color: white;
  color: blueviolet;
  font-size: 20px;
  font-family: "Poppins", sans-serif;
  overflow: hidden;
}

.login-circle {
  width: 1px;
  height: 1px;
  box-shadow: 0px 0px 150px 150px red;
  position: absolute;
  display: block;
  left: 0px;
  top: 0px;
}

.fbHide {
  color: #1da1f2;
  background: none;
  border: none;
  font-size: 40px;
}

.fbHide:hover {
  color: black;
}
